@media screen and (max-width: 767px) {

.projects {
    display: none;
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .projects {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
.section.projects {
    padding-top: 0;
}

.project__list {
    display: flex;
    column-gap: 30px;
    border: 1px;
}

.project__img {
    display: block;
    max-width: 100%;
}

.project__item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.project__text-container {
    background-color: rgba(47, 48, 58, 0.8);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.project__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
}
