.adress__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color-text-theme-dark);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.adress__contact-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text-theme-dark);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}





@media screen and (max-width: 767px) {

    .adress__flex-container {
justify-content: space-between;
  display: flex;
align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    }
    

    .adress__list {
        display: flex;
        align-items: center;
            flex-direction: column;
            gap: 8px;
            margin-top: 20px;
        
        
    }
}

@media screen and (min-width: 768px) {
    .adress__flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
       text-align: center;
    }

    .adress__list {
        margin-top: 20px;
    }

    .adress__item {
        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }

}


@media screen and (min-width: 1200px) {
.adress__flex-container {
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
    align-items: baseline;
    text-align: start;
}

.adress__list {
    margin-top: 20px;
}

.adress__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

}