.follow__container {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.follow__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.follow__icon-container {
    position: relative;
}


.follow__input {
    display: block;
    background-color: var(--background-color);
    border: 0;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-color-text-theme-dark);

    &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
        }

                &:focus,
                &:hover {
                    border-color: var(--accent-color);
                    outline: none;
                }
}


.follow__btn {
    display: block;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--primary-color-text-theme-dark);
    border: 0;
    text-align: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;

    &:hover,
       &:focus {
            background-color: #188CE8;
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}


.follow__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
}