@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }
}

@media screen and (min-width: 768px) {
        .menu {
                     display: flex;
                     column-gap: 50px;}

    
                    .menu__link {
                            display: block;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 1.14;
                            letter-spacing: 0.02em;
                            color: var(--primary-color-text-theme-white);
                            transition-property: color;
                            transition-duration: 250ms;
                            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                            position: relative;
                            padding-top: 32px;
                            padding-bottom: 32px;
    
                            &:hover,
                            &:focus {
                                color: var(--accent-color);
                            }
                        }
    
                        .menu__link--current {
                            color: var(--accent-color);
                        }
    
    
                        .menu__link {
    
                            &.menu__link--current {
                                &::after {
                                    position: absolute;
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    height: 4px;
                                    left: 0;
                                    bottom: -1px;
                                    background-color: var(--accent-color);
                                    border-radius: 2px;
                                }
                            }
                        }
    
    
        }
   

@media screen and (min-width: 1200px) {

.menu {
    display: flex;
    column-gap: 50px;
}

.menu__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color-text-theme-white);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu__link--current {
    color: var(--accent-color);
}


.menu__link {

    &.menu__link--current {
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -1px;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }
}
}