.modal {
    background-color: rgba(255, 255, 255, 1);
    width: 528px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    left: 50%;
    padding: 40px;
}

.backdrop.is-hidden {
    .modal {
        transform: translate(-50%, -50%) scale(0.5);
    }
}


.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
@include flexCenter;

    &:focus,
    &:hover {
        .modal__close-icon {
            fill: var(--accent-color);
        }
    }
}

@media screen and (max-width: 767px) {
 .modal
{
    width: 90%;
}}

