:root {
    --accent-color: #2196F3;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-color-text-theme-dark: #FFFFFF;
    --secondary-color-text-theme-dark: #FFFFFF99;
    --primary-color-text-theme-white: #212121;
    --secondary-color-text-theme-white: #757575;
    --background-color: #2F303A;
    --background-color-white: #FFFFFF;
    --background-color-grey: #F5F4FA;
    --icon-color: #AFB1B8;
}